// Carousel CSS
// Carousel container
.carousel {
  position: relative;
  overflow: hidden;
}

// Slide items
.carousel-item {
  display: none;
  position: relative;
}

// Active slide
.carousel-item.active {
  display: block;
}

// Previous and next slide controls
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 50px; /* Center content vertically */
  cursor: pointer;
  transition: background-color $animation-duration $ease-in-out;
}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-control.prev {
  left: 0;
}

.carousel-control.next {
  right: 0;
}

// Indicator dots
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color $animation-duration $ease-in-out;
}

.carousel-indicator.active {
  background-color: #fff;
}
